<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{{ url_for('static', filename='images/Simp Mafia Web.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Photographer Specific Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/photographer.css') }}" type="text/css" />

	<!-- Photographer Specific Color -->
	<script src="https://kit.fontawesome.com/4563755126.js" crossorigin="anonymous"></script>

	<!-- Document Title
	============================================= -->
	<title>Simp Mafia</title>

</head>

<!-- Overlay Menu, Dark, Page Loader, Stretched (body)
============================================= -->
<body class="stretched dark" >

	<!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element min-vh-60 min-vh-md-100 include-header"
				 style="background: #050505  100% 0 no-repeat; background-size: 60%">

			<div class="slider-inner">
				<div class="vertical-middle">
					<div class="container py-5">
						<div class="row align-items-center col-mb-50">
							<div class="col-md-6 dark">
								<div class="py-5 py-md-0">
									<small class="text-muted text-uppercase fw-light ls4 mb-1 d-block">Welcome to</small>
									<h2>Simp Mafia</h2>
									<h5 class="fw-light ls1 " style="opacity: .7; margin-left: 200px"> A state of mind, after smoking weed every day.</h5>
									<div class="d-flex align-items-center mt-5" >
										<a href="#" class="button button-change button-rounded overflow-hidden nott button-large fw-normal mx-0 px-5" >
											<span>Join our Discord <i class="fa-brands fa-discord " aria-hidden="true" ></i></span>
										</a>
									</div>
								</div>
							</div>

							<div class="col-md-6 ps-md-5 ps-lg-0">
								<div class="row align-items-stretch">
									<div class="col-lg-6 col-md-12 rounded col-6" style="background-size: cover">
									</div>
									<div class="col-6 d-none d-lg-flex"></div>
									<div class="col-6 d-none d-lg-flex"></div>
								</div>

								<div class="simp">
									<img src="{{ url_for('static', filename='images/Simp Mafia.png') }}">
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="video-wrap">
					<video preload="auto" loop autoplay muted>
						<source src='{{ url_for('static', filename='images/SMOKEWEEDEVERYDAY.mp4') }}' type='video/mp4' />
					</video>
					<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
				</div>
			</div>

		</section><!-- #Slider End -->

		<!-- Content
		============================================= -->
		<section id="content" style="background-color: #050505; border-top: 1px solid rgba(255,255,255,0.1)">
			<div class="content-wrap">
				<!-- Flip Card Section
				============================================= -->
				<div class="section dark">
					<div class="container clearfix">

						<div class="parallax" data-bottom-top="margin-top:-50px" data-top-bottom="margin-top:50px">
							<h2 class="fw-bold ls0 mb-4" style="font-size: 38px;">Members</h2>
							<p class="text-muted" style="font-size: 16px;">"A bunch of Gang that simps over a girl." -simp mafia godfather</p>
						</div>

						<div id="related-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20" data-pagi="false" data-autoplay="10000" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">

							<div class="oc-item">
								<div class="portfolio-item">
									<div class="portfolio-image">
										<a>
											<img src="{{ url_for('static', filename='images/CM_NYC_TV.png') }}" >
										</a>
										<div class="bg-overlay">

											<a href="https://www.twitch.tv/cm_nyc_tv" target="_blank" rel="noopener noreferrer"
											   id="cm_nyc_tv" name="cm_nyc_tv" class="btn btn_live hidden">LIVE</a>

											<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
												<a href="https://www.twitch.tv/cm_nyc_tv" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-twitch"></i></a>
												<a href="https://www.youtube.com/@christiannyc1980" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-youtube"></i></a>
												<a href="https://twitter.com/cm10453" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-twitter"></i></a>
												<a href="https://www.instagram.com/cm_nyc_tv/" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-instagram"></i></a>
												<a href="https://www.tiktok.com/@cmxtvthelegendary" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-tiktok"></i></a>
											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Simp Mafia Godfather</h3>
										<span> CM </span>
									</div>
								</div>
							</div>

							<div class="oc-item">
								<div class="portfolio-item">
									<div class="portfolio-image">
										<a>
											<img src="{{ url_for('static', filename='images/GamerPool.jpg') }}" >
										</a>
										<div class="bg-overlay">
											<a href="https://www.twitch.tv/gamerpool474_ph" target="_blank" rel="noopener noreferrer"
											   id="gamerpool474_ph" name="gamerpool474_ph" class="btn btn_live hidden">LIVE</a>

											<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
												<a href="https://www.twitch.tv/gamerpool474_ph" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-twitch"></i></a>
												<a href="https://www.youtube.com/@gamerpool_ph4680" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-youtube"></i></a>
												<a href="https://twitter.com/GamerPooL_PH" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-twitter"></i></a>
												<a href="https://www.instagram.com/unknow2beknow/" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-instagram"></i></a>



											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Simp Mafia Clown</h3>
										<span> GamerPoOL </span>
									</div>
								</div>
							</div>

							<div class="oc-item">
								<div class="portfolio-item">
									<div class="portfolio-image">
										<a>
											<img src="{{ url_for('static', filename='images/jennie-jennie-weed2.gif') }}" >
										</a>
										<div class="bg-overlay">

											<a href="https://www.twitch.tv/snoozefighting" target="_blank" rel="noopener noreferrer"
											   id="snoozefighting" name="snoozefighting" class="btn btn_live hidden">LIVE</a>

											<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
												<a href="https://www.twitch.tv/snoozefighting" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-twitch"></i></a>
												<a href="https://www.youtube.com/@snoozefighting/" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-youtube"></i></a>
												<a href="https://twitter.com/chrisheshin" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-twitter"></i></a>
												<a href="https://www.instagram.com/snooze_fighting/" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-instagram"></i></a>
												<a href="https://www.tiktok.com/@snooze_fighting" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-tiktok"></i></a>



											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Simp Mafia Andy</h3>
										<span> snoozefighting </span>
									</div>
								</div>
							</div>

							<div class="oc-item">
								<div class="portfolio-item">
									<div class="portfolio-image">
										<a>
											<img src="{{ url_for('static', filename='images/Scentless__Apprentice.png') }}">
										</a>
										<div class="bg-overlay" data-lightbox="gallery">


											<a href="https://www.twitch.tv/scentless__apprentice" target="_blank" rel="noopener noreferrer"
											   id="scentless__apprentice" name="scentless__apprentice" class="btn btn_live hidden">LIVE</a>

											<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
												<a href="https://www.twitch.tv/scentless__apprentice" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-twitch"></i></a>
												<a href="https://www.instagram.com/scent1ess__apprentice/" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-instagram"></i></a>
											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Simp Mafia Science Officer</h3>
										<span> Scentless__Apprentice</span>
									</div>
								</div>
							</div>

							<div class="oc-item">
								<div class="portfolio-item">
									<div class="portfolio-image">
										<a>
											<img src="{{ url_for('static', filename='images/Matt.jpg') }}" >
										</a>
										<div class="bg-overlay">


											<a href="https://www.twitch.tv/mattnguyen" target="_blank" rel="noopener noreferrer"
											   id="mattnguyen" name="mattnguyen" class="btn btn_live hidden">LIVE</a>

											<div class="bg-overlay-content dark" data-hover-animate="fadeIn">

												<a href="https://www.twitch.tv/mattnguyen" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-twitch"></i></a>
												<a href="https://www.facebook.com/MattNguyen95" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-facebook"></i></a>

											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Simp Mafia B-Boy</h3>
										<span> MattNguyen </span>
									</div>
								</div>
							</div>

							<div class="oc-item">
								<div class="portfolio-item">
									<div class="portfolio-image">
										<a>
											<img src="{{ url_for('static', filename='images/Strawberry.jpg') }}" >
										</a>
										<div class="bg-overlay">
											<div class="bg-overlay-content dark" data-hover-animate="fadeIn">

											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Simp Mafia Secretary</h3>
										<span> Strawberrie </span>
									</div>
								</div>
							</div>

							<div class="oc-item">
								<div class="portfolio-item">
									<div class="portfolio-image">
										<a>
											<img src="{{ url_for('static', filename='images/Leyopan.jpg') }}" >
										</a>
										<div class="bg-overlay">

											<a href="https://www.twitch.tv/leyopan" target="_blank" rel="noopener noreferrer"
											   id="leyopan" name="leyopan" class="btn btn_live hidden">LIVE</a>

											<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
												<a href="https://www.twitch.tv/leyopan" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-twitch"></i></a>
												<a href="https://twitter.com/LeyoTV" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-twitter"></i></a>
												<a href="https://www.instagram.com/leyotv/" target="_blank" rel="noopener noreferrer"
												   class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall"
												   data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="link">
													<i class="fa-brands fa-instagram"></i></a>

											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Simp Mafia Detective</h3>
										<span> Leyopan </span>
									</div>
								</div>
							</div>

                            <div class="oc-item">
								<div class="portfolio-item">
									<div class="portfolio-image">
										<a>
											<img src="{{ url_for('static', filename='images/Keo.png') }}" >
										</a>
										<div class="bg-overlay">
											<div class="bg-overlay-content dark" data-hover-animate="fadeIn">

											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Simp Mafia CTO</h3>
										<span> Keo </span>
									</div>
								</div>
							</div>












						</div><!-- .portfolio-carousel end -->

					</div>
				</div>

			</div>

		</section><!-- #content end -->

        <!-- Footer
		============================================= -->
		<footer id="footer" class="dark border-0 clearfix">
			<!-- Copyrights
			============================================= -->
			<div id="copyrights" style="background: #222">
				<div class="container clearfix">

					<div class="w-100 text-center">
						<div class="social-media">
							  <a href="https://discordapp.com/users/192029293436469248" target="_blank">
								  <i class="fa-brands fa-discord social-media " aria-hidden="true" ></i></a>
						  </div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->
    </div>


    <script type="text/javascript">
            const parsed = JSON.parse('[{{dicts | tojson}}]');
        </script>
    <!-- JavaScripts
	============================================= -->
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins.min.js') }}"></script>

	<!-- Photograph Hover Plugin
	============================================= -->
	<script src="{{ url_for('static', filename='js/hover3d.js') }}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins.carousel.js') }}"></script>
	<script src="{{ url_for('static', filename='js/twitch.js') }}" ></script>




</body>
</html>